<!-- <h1 style="text-align: center;">
  Bienvenido a {{ title }}
  <br>
  <p>Nombre: {{ nombre }}</p>
  <p>Edad: {{ edad }}</p>
  <p>Email: {{ email }}</p>
  <p>Sueldo 1: ${{ sueldos[0] }}</p>
  <p>Sueldo 2: ${{ sueldos[1] }}</p>
  <p>Sueldo 3: ${{ sueldos[2] }}</p>
  <p>{{ tieneTrabajo() }}</p>

  <p>Total sueldos: ${{sumarSueldos()}}</p>

  <p *ngIf="edad>=18; else menor">Es mayor de edad.</p>
  <ng-template #menor><p>Es menor de edad.</p></ng-template>
  <p>El promedio obtenido es: {{calcularPromedio()}}</p>
  <table border="1">
    <tr>
      <td>Notas</td>
    </tr>
    <tr *ngFor="let nota of notas">
      <td>{{nota}}</td>
    </tr>
  </table>
</h1> -->

<!-- <app-eventos></app-eventos> -->
<!-- <app-azar></app-azar> -->
<!-- <app-enlace-propiedades [datos]="elementos"></app-enlace-propiedades> -->
<!-- <app-opciones></app-opciones> -->
<div style="text-align:center">
  <app-form2></app-form2>
</div>



