<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Promedio de notas</h5>
      <h6 class="card-subtitle mb-2 text-muted">Actividad tipo paso a paso 2.3</h6>
      <p class="card-text">
        Añada las notas para calcular el promedio y si aprueba o no.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 inputs">
      <form class="form-control" [formGroup]="formulario" (ngSubmit)="enviar()">
        <div class="row input-group sm-6">
          <p>
            Rut:
            <input class="form-control" type="text" formControlName="rut" />
          </p>
        </div>
        <div class="row input-group sm-6">
          <p>
            Nombre:
            <input class="form-control" type="text" formControlName="nombre" />
          </p>
        </div>
        <div formGroupName="notas">
          <div class="input-group mb-12">
            <p>
              Ingrese Nota 1:
              <input class="form-control" type="text" formControlName="nota1" />
            </p>
          </div>
          <div class="input-group mb-3">
            <p>
              Ingrese Nota 2:
              <input class="form-control" type="text" formControlName="nota2" />
            </p>
          </div>
          <div class="input-group mb-3">
            <p>
              Ingrese Nota 3:
              <input class="form-control" type="text" formControlName="nota3" />
            </p>
          </div>
          <div class="input-group mb-3">
            <p>
              Ingrese Nota 4:
              <input class="form-control" type="text" formControlName="nota4" />
            </p>
          </div>
          <div class="input-group mb-3">
            <p>
              Ingrese Nota de Examen:
              <input class="form-control" type="text" formControlName="examen" />
            </p>
          </div>
          <div class="input-group mb-3">
          <p><button class="btn btn-success" type="submit">Enviar</button></p>
          <p><button class="btn btn-warning" type="reset">Borrar</button></p>
          </div>
          <div class="input-group mb-12">
            <p>Resultado: {{ salida }}</p>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>
